

#main-header {
  background: url(../img/header/main.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  padding-top: 160px;
  padding-bottom: 130px
}

#vr-header {
  background: url(../img/header/vr.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  padding-top: 160px;
  padding-bottom: 130px
}

#yrp-header {
  background: url(../img/header/yrp.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  padding-top: 160px;
  padding-bottom: 130px
}

#ld-header {
  background: url(../img/header/ld.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  padding-top: 160px;
  padding-bottom: 130px
}

#value {
  color: #14a6d1;
}

#about {
  background-color: #f8fcff;
}

#blue-blue {
  background-color: #f8fcff;
  color: #14a6d1;
}

.img-col {
  margin-left: 15px;
  margin-right: 15px;
}

#programs {
  width: 80%;
  border-radius: 30px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

#programs:hover {
  filter: none;
-webkit-filter: grayscale(0%);
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

footer {
  text-align: center;
  padding-top: 20px;
  width: 100%;
  background-color: #f8fcff;
  position: absolute;
}

#g-text {
  color: #a9a9a9;
}
